<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>581077060279-c7jbr6fnnmp3m79t19b83eobqmsqsmdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581077060279-c7jbr6fnnmp3m79t19b83eobqmsqsmdq</string>
	<key>API_KEY</key>
	<string>AIzaSyBHiGCesHziFaIJzcmmcKJtRd1kwiWM2Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>581077060279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sarvad-Shetty.ACCIO</string>
	<key>PROJECT_ID</key>
	<string>accio-42957</string>
	<key>STORAGE_BUCKET</key>
	<string>accio-42957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581077060279:ios:b9c3a81e582fa017</string>
	<key>DATABASE_URL</key>
	<string>https://accio-42957.firebaseio.com</string>
</dict>
</plist>